---
layout: home
---

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading">Posts</div>
            <div class="panel-body">
                <div class="list-group h4">
                    {% for post in site.posts %}
                    <ul class="list-group-item">
                        <span class="badge list-group-item-success"> {{ post.date | date: "%Y年%m月%d日" }} </span>
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        {{ post.title }}
                    </a> 
                </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!--
<div class="home">
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
-->
  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->

