---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
// $background-color: #fdfdfd;

//Jax
// $background-color: #C7DECC;
// $background-color: #CCEBCC;
$background-color: #E8E8FF;
// $background-color: #FBFBEA;
// $background-color: #D5F3F4;
// $background-color: #D7FFF0;
// $background-color: #F0DAD2;
// $background-color: #F2F1D7;

// Jax end


$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

//Jax
// div#body {
//     background: url("/static/images/background.jpg");
//     background-size: cover;
//     background-position: center;
// }
body {
    background: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
    // 使背景图片保持不动
    background-attachment: fixed;
    // 图片是否平铺
    background-repeat: no-repeat;
}
div.test {
    background: url("/static/images/background.jpg");
    background-size: cover;
    background-position: center;
}
// div.page-content {
//     background: url("/static/images/background.jpg");
//     background-size: cover;
//     background-position: center;
//     background-attachment: fixed;
//     background-color: #E8E8FF;
// }
div.panel {
    background-color: #E8E8FF;
}


//Jax end
